[2019-06-13 09:27] lostdesign opened #3 "enable **Community**"

[2019-06-13 09:30] lostdesign opened #4 "Fix "General" site"

[2019-06-13 09:49] lostdesign opened #15 "https://reddit.com/r/css"

[2019-06-13 09:49] lostdesign opened #16 "https://reddit.com/r/javascript"

[2019-06-13 09:50] lostdesign opened #19 "https://www.reddit.com/r/html"

[2019-06-13 09:50] lostdesign opened #20 "https://www.reddit.com/r/webdev/"

[2019-06-13 09:50] lostdesign opened #21 "https://www.reddit.com/r/web_design/"

[2019-06-13 09:51] lostdesign opened #22 "https://www.reddit.com/r/vuejs"

[2019-06-13 09:52] lostdesign opened #23 "https://www.reddit.com/r/reactjs"

[2019-06-13 09:53] lostdesign opened #24 "Add more communites"
https://www.reddit.com/r/angular
https://www.reddit.com/r/reactjs
https://www.reddit.com/r/vuejs

[2019-06-15 01:43] #21 closed

[2019-06-15 01:43] #20 closed

[2019-06-15 01:43] #19 closed

[2019-06-15 01:43] #16 closed

[2019-06-15 01:44] #15 closed

[2019-06-15 01:44] #23 closed

[2019-06-15 01:44] #22 closed

[2019-06-15 01:44] #4 closed

[2019-06-15 01:44] #3 closed

[2019-06-15 01:45] lostdesign commented on #24
Could be added to `/communities` for now but maybe later a seciton for `SPA` might be created

[2019-06-15 01:45] lostdesign opened #43 "Create light mode switch"
Use CSS root var to swap app theme

[2019-06-15 01:46] lostdesign opened #44 "Create filters"
Filters could be added to browse content more precisely. For that more data on the cards would be necessary though.

Free/Paid/Type/Author field could be added.

[2019-06-15 01:47] lostdesign opened #45 "Add layout switcher grid<->table"
Maybe people want to look at the gems via tables instead of a grid?

[2019-06-15 01:47] lostdesign opened #46 "Add search"
Add a quick search to be able to look for certain things.

[2019-06-15 01:47] lostdesign opened #47 "Add more daily reads"

[2019-06-15 01:48] lostdesign opened #48 "consider making project OSS?"

[2019-06-15 01:48] #48 closed

[2019-06-15 11:11] karl-police opened #50 "Some links"
I have some links that could be usefull for web related stuff or others:

https://codepen.io/carolineartz/full/ogVXZj

Color:
http://webcolourdata.com/
https://www.degraeve.com/ - has more tools
http://paletton.com/
https://color.adobe.com

Other:
https://www.mydevice.io/#compare-devices

http://shouldiprefix.com/
http://pleeease.io/play/

http://nicolasgallagher.com/micro-clearfix-hack/

https://

[2019-06-15 11:36] lostdesign opened #51 "Add some way of adding resources w/o PR"
@Jar of Salt on discord:
Add a way to submit new resources:
- a submit form
- markdown
- other?

[2019-06-15 11:38] S3B4S opened #52 "Tag system"
I can't live without a tag system on my bookmark manager. Often I'll search for the `#tag` instead of a title or category. This could be implemented alongside with #46. Thoughts?

[2019-06-15 11:40] lostdesign commented on #52
Definitely! Maybe also related to #44. The data should be extended then the search should use these tags.

[2019-06-15 11:46] S3B4S commented on #52
Ah yeah, I suggest having three fields; `price`, `author` (for credits) and `tags` for anything other than `price` and `author`.

[2019-06-15 20:16] S3B4S commented on #51
Just going to drop this here which I came across coincidentally https://medium.com/@gtalarico/using-airtable-as-a-content-backend-e373cd0d9974

[2019-06-16 08:22] SignpostMarv commented on #45
Render as literal `<table>`, override `display:table-*` properties ?

[2019-06-17 12:59] lostdesign opened #62 "https://inclusive-components.design/"

[2019-06-17 13:00] lostdesign opened #63 "https://every-layout.dev/"

[2019-06-18 09:03] lostdesign opened #66 "https://lospec.com/pixel-art-tutorials/author/pedro-medeiros"
**Name**
Pixel Art Tutorials

**Description**
Huge collection of different methods to create and animate pixelart

**URL**
https://lospec.com/pixel-art-tutorials/author/pedro-medeiros

[2019-06-18 09:03] lostdesign commented on #66
Won't be added until a "web game dev" section exists.

[2019-06-19 22:06] lostdesign commented on #45
@SignpostMarv the component then should be a literal table i guess since it will be a table then.

Crossposting from #59 for others too:

[code]

[2019-06-19 23:31] lostdesign opened #70 "Sorting of resources"
**Is your feature request related to a problem? Please describe.**
Currently people are adding the resources anywhere in the array which is not intended. No resource should be preferred over the other until the server with voting is implemented.

**Describe the solution you'd like**
Either on each load the resources are randomly sorted or by alphabet. Maybe for consistency it makes sense to sort t

[2019-06-20 00:02] lostdesign opened #75 "localhost style doesn't match prod style"
The typography (font-weight) on localhost is different, got to invenstigate.
![https://i.imgur.com/ZV271mq.png](https://i.imgur.com/ZV271mq.png)

[2019-06-20 00:11] lostdesign opened #76 "Github Badge overlay issue"
**Describe the bug**
Using safari on ios will have the github badge show below the cards.

**To Reproduce**
Steps to reproduce the behavior:
1. Open webgems on the phone
2. Go to any category
3. Scroll down
4. Card is above badge

**Expected behavior**
Badge should ways be on top.

**Screenshots**
![IMG_9781EB3304DF-1](https://user-images.githubusercontent.com/5164617/59809379-8d373780-9300-11e9-9

[2019-06-20 00:16] lostdesign commented on #76
Update: Actually also happens on the desktop. So it's probably just a z-index issue.
![https://i.imgur.com/MQFp5N4.png](https://i.imgur.com/MQFp5N4.png)

[2019-06-20 00:17] lostdesign opened #77 "Tools was renamed to utility"
Check #18, some commit has overwritten this change. Should be changed within the next commit.

[2019-06-20 09:48] S3B4S commented on #77
That was done here https://github.com/webgems/webgems/pull/69/files#diff-e832e8f26403d95fac0ea1c59837588bR921. Before that the page was named `Utility` in the sidebar but the title of the page was `Tools`. So I copied over the title. But could easily be renamed to utility by just changing that title & slug.

[2019-06-20 10:59] lostdesign commented on #77
fixed

[2019-06-20 10:59] #77 closed

[2019-06-20 11:47] #76 closed

[2019-06-20 15:51] #62 closed

[2019-06-20 15:51] #63 closed

[2019-06-20 18:39] S3B4S opened #83 "Git helper tools"
**Name**
hub
lazygit

**Description**
Makes working with git easier (will expand descr later)

**URL**
https://hub.github.com/
https://github.com/jesseduffield/lazygit

[2019-06-20 19:36] jeanlucaslima opened #85 "Add Elixir Language"
Elixir is used a lot for web nowadays, is a nice resource to have.

https://github.com/webgems/webgems/pull/84

[2019-06-22 14:54] #24 closed

[2019-06-22 14:55] S3B4S commented on #24
Closed due to not adding communities anymore.

[2019-07-09 08:51] lostdesign commented on #85
Please reopen PR into the right branch as stated.

[2019-07-09 08:53] lostdesign opened #96 "https://www.colorbox.io/"
**Name**
colorbox.io

**Description**
TBD

**URL**
https://www.colorbox.io/

[2019-07-09 08:54] lostdesign opened #97 "https://colourco.de/"
**Name**
colourco.de

**Description**
TBD

**URL**
https://colourco.de/

[2019-07-12 09:47] lostdesign opened #100 "http://colormind.io/bootstrap/"
**Name**
colormind.io

**Description**
Generate colorpalettes with a live preview how it could look like on a website.

**URL**
http://colormind.io/bootstrap/

**Category**
design

[2019-07-12 09:49] lostdesign opened #101 "https://palettte.app/"
**Name**
palettte.app/

**Description**
tdb

**URL**
https://palettte.app/

**Category**
design

[2019-07-19 12:51] lostdesign opened #104 "https://bokub.github.io/git-history-editor/"
**Name**
git-history-editor

**Description**
Messed up some of your commits? Make it undone

**URL**
https://bokub.github.io/git-history-editor/

**Category**
general

[2019-07-22 19:03] barbados-clemens opened #105 "Add https://cantunsee.space to Design category"
**Name**
Can't Unsee

**Description**
A game where your attention to details earns you a lot of coins. WARNING: Once you see the difference between the images, you won't be able to unsee it

**URL**
https://cantunsee.space

**Category**
design

[2019-07-24 09:24] lostdesign commented on #105
Great resource btw, i tried it myself yesterday.

[2019-07-24 14:32] barbados-clemens commented on #105
Yeah I very much like it. I think it helps people understand the subtleties of design and grasp those concepts of making sure the "little" things are all in place.

[2019-07-24 21:52] xAirx opened #108 "More links to add of which. I used to learn!"
**Name**
webgems.io

**Description**

**URL**
https://codesandbox.io/ <- Like codepen for REACT.

https://marksheet.io/sass-scss-less.html <- a SCSS, HTML AND CSS tutorial.

https://learnlayout.com <- CSS learning

**Category**
javascript/html/php...

[2019-07-24 21:57] xAirx commented on #108
MEMORIZING games its amazing.

https://www.memrise.com/course/700034/learn-javascript/1/?action=prev

https://www.memrise.com/course/700033/learn-css/

[2019-07-26 21:58] msksfo opened #113 "Add https://bennettfeely.com/clippy/ to CSS catagory"
**Name**
Bennett Feely clip-path maker

**Description**
This CSS clip-path maker helped me understand the property and all the cool things you can do with it.

**URL**
https://bennettfeely.com/clippy/

**Category**
CSS

[2019-07-28 02:04] karnthis commented on #51
did some brainstorming, occurred to me you can use the Issues mechanism to collect, store, and use entries for the site using the github issues api. Ideally there would be a webform on the site for new submissions, but short-term a template could be made.

Basic workflow is:

1. Create new issue
2. Staff reviews submission
3. Once approved, issue is locked, labelled, and closed
4. `fetch()` on web

[2019-08-06 09:41] vikas-parashar opened #116 "Add accessibility as catagory to have related resources"
**Is your feature request related to a problem? Please describe.**
There isn't a dedicated category for web accessibility related resources.

**Describe the solution you'd like**
Create a category and add resources to it. Having separate category will also help raising awareness.

**Describe alternatives you've considered**

**Additional context**
Right now accessibility related resources(there is

[2019-08-10 14:46] karnthis commented on #70
I was thinking about this, and an alphabetical sort is pretty straight-forward. off the top of my head an addition something like this would probably do the trick:

[code]

[2019-08-22 09:15] SarathSantoshDamaraju commented on #43
Hi @lostdesign
if it is still in plan, Can I take this up ?

[2019-08-22 09:31] lostdesign commented on #43
Hi @SarathSantoshDamaraju, you can sure take this up yeah! Maybe sync with @Shiroraven as he also proposed something on the discord server.

[2019-08-22 09:53] SarathSantoshDamaraju commented on #43
@lostdesign Cant find him on devcord channel (may be cm checking at a wrong place). I will start working on it till he replies and we can cor-ordinate on this thread.

[2019-08-22 10:10] Shiroraven commented on #43
Hey, @SarathSantoshDamaraju thanks for showing interest in helping out, I left devcord quite a while ago due to personal reasons. You can contact me on Discord using my tag Shiroraven#4302 or just work from this thread. 👍

[2019-08-22 10:28] SarathSantoshDamaraju commented on #43
Can we use this thread ?

[2019-08-22 10:32] Shiroraven commented on #43
While possible, i would recommend against it because alot of developers are getting notified about every action that happens here.

For now i just created a component for the actual switch as a concept.
![Screenshot (19)](https://user-images.githubusercontent.com/24922514/63507828-eb3af380-c4d8-11e9-88fa-35e02923d973.png)
![Screenshot (20)](https://user-images.githubusercontent.com/24922514/635078

[2019-08-22 10:34] Shiroraven commented on #43
I'm currently trying to figure out the best way to change the CSS upon switching the theme, maybe adding a class of `.light` or `.dark` to the body would work?

[2019-08-22 11:19] SarathSantoshDamaraju commented on #43
Sure.

And only `.light` class would do as dark theme is by default. And can be accomplished with few style changes. Just for reference I made a quick edit in browser.
<img width="1440" alt="Screenshot 2019-08-22 at 4 16 40 PM" src="https://user-images.githubusercontent.com/10527102/63510597-94dfac00-c4fc-11e9-9329-a0fcdb1cba49.png">

I assume you can complete this. let me know otherwise.

[2019-08-22 11:20] Shiroraven commented on #43
looks good! We have to make sure to replace the blue parts though due to contrast

[2019-08-22 11:21] Shiroraven commented on #43
also we need the webgems logo cleaned up

[2019-08-22 11:21] Shiroraven commented on #43
i can push my switch component and you can tinker around with the css if you want
should be done then?

[2019-08-23 04:29] SarathSantoshDamaraju commented on #43
Sure

[2019-08-26 08:42] SarathSantoshDamaraju commented on #43
@Shiroraven Let me know after pushing the component

[2019-09-05 19:22] S3B4S opened #124 "Prettier"
Add [Prettier](https://prettier.io/), at the moment there are different coding styles, it'd be nice if we can converge to one consistent style.

[2019-09-06 07:26] lostdesign commented on #124
Yeah mentioned that in the last PR - should add that.

[2019-09-06 14:54] S3B4S commented on #124
Just going to drop this here for future reference <https://medium.com/@gogl.alex/how-to-properly-set-up-eslint-with-prettier-for-vue-or-nuxt-in-vscode-e42532099a9c>

[2019-09-08 20:51] S3B4S opened #125 "Use padding instead of margin in copy button"
Not really a bug, but something I'd like to see fixed nonetheless.
The copy button has a margin, which isn't clickable and results in some annoying UX.
![image](https://user-images.githubusercontent.com/17083334/64494275-0c4a6500-d28b-11e9-9ae0-bfea6e74f116.png)
The simple fix is just to use a padding instead of a margin. But holding off on any chances until #91 is merged.

[2019-09-22 17:04] homeniukValeriy opened #128 "Add image-color.com to design category"
**Name**
Image Color Picker

**Description**
Image color picker and palette generator

**URL**
https://image-color.com

**Category**
Design

[2019-10-01 12:37] S3B4S commented on #70
This has been implemented & merged. 😄

[2019-10-01 12:37] #70 closed

[2019-10-03 10:17] #125 closed

[2019-10-03 10:22] S3B4S commented on #52
I guess I could pick this up as the next "major" feature to add, a search bar that will initially search through titles and descriptions. Prepending a word with `#` will make it search through tags. 🤔

[2019-10-03 10:31] S3B4S opened #139 "Border highlight for specific card doesn't work in production"
**Describe the bug**

The highlight border does not show up after pasting a url with the parameter `card` in production.

**To Reproduce**

1. Visit https://webgems.io/fullstack

2. Click "copy" on a card. You should see the following:

<img width="1001" alt="Screenshot 2019-10-03 at 12 23 15" src="https://user-images.githubusercontent.com/17083334/66119492-0705df00-e5d9-11e9-806a-8334ead0803a.png

[2019-10-03 10:36] S3B4S commented on #75
Might be related to #139 ? Both are an issue with differences in production & dev.

[2019-10-06 11:37] lostdesign commented on #139
Seems to work for me in prod and dev?

[2019-10-06 13:41] wulforr opened #147 "Explicitly define in contributing guidelines to make a pull request for dev branch"
**Is your feature request related to a problem? Please describe.**
Beginners to open source development generally make a pull request in master branch.

**Describe the solution you'd like**
Define it in contributing guidelines to take steps for pull request and to merge in dev branch.

[2019-10-06 13:46] wulforr commented on #147
![git](https://user-images.githubusercontent.com/41507129/66270160-af33d600-e86d-11e9-98c5-84307dd7c7d6.png)
It could be somewhat like this

[2019-10-06 14:45] lostdesign commented on #147
Thanks and we saw that many people created PRs for the master branch. In order to make it more easy, we will accept PRs into master by changing the CI process to build on releases. Will keep this open until then and keep it as reference if we still need this.

[2019-10-08 15:27] b3u opened #149 "Add resource Goodbrief"
**Name**
goodbrief

**Description**
GoodBrief is a random generator for design briefs. Choose the type of creative work and the industry, and goodbrief will generate a unique brief.

**URL**
http://goodbrief.io

**Category**
design

[2019-10-08 15:46] b3u commented on #46
I am interested in this, but i don't know vue.
Would this only search titles and tags?

[2019-10-08 16:47] lostdesign commented on #46
@b3u thanks for your interest in this, you can more or less solve it by vanilla js. What you need to do is get the data from the `vuex` store/state and filter for the given keyword in the search.

You can check this site: https://vuex.vuejs.org/guide/getters.html Vuex and the store are ready to be used, if you want i can guide/teach you on vue/vuex here.

If you want, feel free to hop on our disco

[2019-10-08 16:48] lostdesign commented on #149
Good find.

[2019-10-08 16:59] b3u commented on #149
Can i take care of this issue (bc of Hacktoberfest ;) )?

[2019-10-08 17:00] lostdesign commented on #149
Sure, shoot a PR.

[2019-10-08 17:39] lostdesign opened #151 "Fix "SEO" parts of webgems"
**Is your feature request related to a problem? Please describe.**
The current meta/opengraph and description are missing/incomplete. We should add an image for opengraph and write a better description.

Maybe once the #46 is added, we can even have the search displayed on the google search results.

And probably some other things. Maybe even do a lighthouse/audit of the app itself.

[2019-10-08 20:21] #149 closed

[2019-10-09 23:42] lizrodriguez commented on #116
I'd like to give this a try!

[2019-10-11 10:00] lostdesign opened #155 "New Category with youtubers"
**Describe the solution you'd like**
Add a youtubers teaching design and dev.

Here are a couple I'd already add:
Traversy Media: https://www.youtube.com/user/TechGuyWeb
Wesbos: https://www.youtube.com/user/wesbos
Leveluptuts: https://www.youtube.com/user/LevelUpTuts
Devtips: https://www.youtube.com/user/DevTipsForDesigners
The net ninja: https://www.youtube.com/channel/UCW5YeuERMmlnqo4oq8vwUpg
th

[2019-10-11 11:48] lostdesign commented on #116
Fixed in #153

[2019-10-11 11:50] lostdesign commented on #116
@vikas-parashar if you have more A11y resources, feel free to suggest them here. The section now exists.

[2019-10-11 12:02] Johan-Ng commented on #155
Which file should i add youtubers to?

[2019-10-11 12:07] lostdesign commented on #155
Hi @Johan-Ng thanks for your interest in this. You would basically need to do the same as in #153.

Create a file in `resources` called `resources/youtube.json` and then register it in `resources/index.js`. Copy the format from other `.json` files there and add the necessary text there as given. In the readme there is also an example of how a resource looks like.

No need to all of them. Creating

[2019-10-11 12:14] Johan-Ng commented on #155
@lostdesign Thank you!

[2019-10-11 15:37] S3B4S commented on #155
I'm not really sold on the idea of having a seperate youtube category, I feel like most youtubers themselves can be categorised into current existing categories (such as "design", "general", "php"). I think if we'd have tags we could add a #youtube tag so if anyone wants to see youtubers they can look for the tag.

[2019-10-11 22:58] karnthis commented on #155
I agree with S3B4S on this, YouTube is the medium of the resource, not what the resource actually is for.

[2019-10-11 23:12] Johan-Ng commented on #155
@S3B4S do you mean i should add a line for categories(e.g. "design", "html", etc.) and a line for "#youtube tag"? Can you give me some clue like what should the "#youtube tag" be like? Thank you!

[2019-10-12 06:40] lostdesign commented on #155
Youtubers don‘t have just one type of content when they are teaching dev. You could put them into every single of them. Only thefutur and Steve Schoger could be put into design. Traversy, Leveluptuts, the net ninja, devtips and thecodingtrain would not fit into one lang at all.

[2019-10-12 08:49] S3B4S commented on #155
I see your point, I still think it feels weird to have a category called "youtube(rs)". I'd be more in favor of naming such as "content creators" and in there we can also include other content creators that do not use YouTube as their medium.

[2019-10-12 09:15] lostdesign commented on #155
Yeah the name should be **content creators**. Getify on twitter then could also be listed and others, since they post nice short tips and other things often.

[2019-10-12 09:45] Johan-Ng commented on #155
Sure, I'll change the name of the file. I seldomly use tag but I'll try my
best for it. Can you tell me what have I done wrong in index.js? It says I
can't pass the checks. Thank you so much to all of you!

On Sat, 12 Oct 2019, 10:15 wellá, <notifications@github.com> wrote:

[2019-10-12 10:05] S3B4S commented on #155
Regarding

What I meant was to add a `youtube` tag to each `tags` field of a given category. There's a planned feature that adds a search option to webgems so people can search for keywords and/or tags.

can't pass the checks. Thank you so much to all of you!

In PRs #158 and #159 it isn't passing because the `youtube.json` is missing, which you did not include in the commit. #157 seems to be the

[2019-10-12 10:08] S3B4S commented on #155
^ My bad, misclicked on the phone.

Also, I think we totally should add these two:
Funfunfunction, https://www.youtube.com/channel/UCO1cgjhGzsSYb1rsB4bFe4Q
Mayuko, https://www.youtube.com/user/hellomayuko

[2019-10-13 08:19] Hammster commented on #43
Just want to also propose to make use of the `prefers-color-scheme` media query.

[code]

[2019-10-13 12:31] Johan-Ng commented on #155
https://github.com/webgems/webgems/pull/161#issue-327546871

[2019-10-13 14:01] jgierer12 commented on #147
Please consider mentioning this in the contributing guide until you change the build process, it's very annoying to make a PR against master and then realizing it should be against dev and having to rebase or merge.

[2019-10-13 14:29] jgierer12 opened #163 "Improve contribution guide"
**Is your feature request related to a problem? Please describe.**
As I wanted to contribute a few resources, I noticed a few things that made contributing a bit inconvenient. See details below.

**Describe the solution you'd like**
First of all the contributing guide seems like a generic template that doesn't really fit this project (e.g. the following paragraph, which seems to not apply to this

[2019-10-13 14:32] jgierer12 commented on #163
To make that clear, I think you already have a very good starting point for a contribuition guide, just in the wrong place (README.md). So putting together a good basic CONTRIBUTING.md wouldn't be too much effort. I would be happy to implement the changes I suggested if you agree with them.

[2019-10-13 14:57] jgierer12 opened #164 "Add favicon for each site"
**Is your feature request related to a problem? Please describe.**
Not a problem, just a neat idea I had to spice the site cards up a little: Add each site's favicon next to its title.

**Describe the solution you'd like**
This could be solved relative easily because Google has a favicon service. Just do an `<img src="https://www.google.com/s2/favicons?domain={url}" />`. Example:

[code]

=> ![Web

[2019-10-14 12:54] lostdesign commented on #164
Merged in #165

[2019-10-14 12:54] #164 closed

[2019-10-14 12:56] lostdesign commented on #163
The idea of having a contributing.md is good. At first I thought there is no need for it, since people won't read it anyways. That's why most of the info is in the readme.md. We can sure exclude it from there and just reference it.

[2019-10-14 13:16] S3B4S commented on #147
How do you configure this on GitHub? I've tried to look into options to not allow PRs to master or to make it clear that if you make a PR it should be to dev (besides CONTRIBUTING.md) but could not find such a thing. So I'm genuinely curious about this.

[2019-10-14 13:21] jgierer12 commented on #147
It's under Settings > Branches:

![image](https://user-images.githubusercontent.com/4331946/66754437-3d274680-ee96-11e9-9e15-12b6076c7f18.png)

[2019-10-14 13:23] S3B4S commented on #147
Great! @lostdesign we could do this in the meantime until we've configured Continuous Deployment to rebuild on releases.

[2019-10-14 13:31] jgierer12 commented on #163
In my experience, people started reading it a lot more since GitHub started linking it when opening issues and PRs. For some people (like myself :D) it can be the deciding factor to start contributing to a project.

I will start a draft just moving the existing parts from readme to contributing and the code of conduct into its own file and open a PR. From there we can decide whether there needs to

[2019-10-14 13:43] lizrodriguez commented on #128
I'll grab this one 👍

[2019-10-14 13:45] lizrodriguez commented on #128
Nevermind, saw this was done 😁

[2019-10-14 13:47] S3B4S commented on #128
Oh oops, it should have been closed then.

[2019-10-14 13:47] #128 closed

[2019-10-14 13:50] lizrodriguez commented on #101
As per https://www.gabrieladorf.com/palettteapp/ a good description would be "Build, analyze and edit smooth color palettes."

If you're good with that I can add this and submit a PR @lostdesign

[2019-10-15 01:12] karnthis commented on #139
This is also working for me in Prod:
https://webgems.io/fullstack/?card=egghead.io

[2019-10-15 02:15] karnthis commented on #113
Issue can be closed

[2019-10-15 08:08] #113 closed

[2019-10-15 08:10] lostdesign commented on #101
@lizrodriguez Yes please.

[2019-10-15 08:11] lostdesign commented on #147
Doing that now.

[2019-10-15 09:41] lostdesign opened #169 "UI FIX: card--description should have a margin top"
**Describe the bug**
The title and description are sticking together.

**Expected behavior**
Change to `margin: 0.7rem 0rem 0.7rem 0` on `.card--description`
https://github.com/webgems/webgems/blob/50c6cfc9fcf6ebfc1fd58c5e6ee2fba0cb604138/components/Card.vue#L81

**Before**
![Bildschirmfoto 2019-10-15 um 11 35 51](https://user-images.githubusercontent.com/5164617/66819874-fa21ad80-ef3f-11e9-8753-e

[2019-10-15 09:56] #169 closed

[2019-10-15 10:23] S3B4S commented on #139
Yeah also works now for me

[2019-10-15 10:23] #139 closed

[2019-10-15 10:42] #50 closed

[2019-10-15 10:43] S3B4S commented on #50
Some have been added, thanks! @karl-police

[2019-10-15 10:46] #45 closed

[2019-10-15 10:48] #47 closed

[2019-10-15 10:51] lostdesign commented on #116
Going to close this meanwhile. Either comment here, create a new issue or open a PR right away.

[2019-10-15 10:51] #116 closed

[2019-10-15 10:56] #85 closed

[2019-10-15 10:56] lostdesign opened #173 "Add netlify build badge to readme"
**Is your feature request related to a problem? Please describe.**
Netlify has build status badges, we should include that in our readme at the top.

[code]

[2019-10-15 10:56] S3B4S commented on #124
[ ] Add hook that runs prettier/eslint before committing.

[2019-10-15 10:59] vikas-parashar commented on #116
Thanks! I will open separate PR for more resources.

[2019-10-15 11:06] oshka commented on #173
I'll do it

[2019-10-15 11:16] vikas-parashar opened #175 "Move 'The web accessibility basics' resource to Accessibility category"
**Describe the bug**
'The web accessibility basics' resource is in HTML category and should be moved to Accessibility category.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://webgems.io/html
2. See 'The web accessibility basics' resource in the category.

**Expected behavior**
'The web accessibility basics' should be moved to Accessibility category.

**Screenshots**
If applica

[2019-10-15 11:18] #173 closed

[2019-10-15 11:21] oshka commented on #104
Should this be added to resources/general.json ?

[2019-10-15 11:22] S3B4S commented on #104
I'd add this to `resources/utility.json` our other git related resources are in there.

[2019-10-15 11:22] lostdesign commented on #104
^

[2019-10-15 11:27] S3B4S opened #177 "Shorten descriptions"
Some descriptions for certain resources are very long, it'd be great if someone could go through all of these and shorten them. There shouldn't be too much of them.

Some examples:
- PHP: (The only proper) PDO tutorial
- Fullstack: freeCodeCamp curriculum

@lostdesign Maybe we should put some restriction on the amount of words that can be used for a resource?

[2019-10-15 11:43] lostdesign commented on #175
fixed in #179

[2019-10-15 11:43] #175 closed

[2019-10-15 12:18] lostdesign commented on #177
Yeah they should be shortened. Approx. 2 sentenses would be nice, not sure how many words max we should do. Would be nice to have equally long descriptions in general. Looks better UI wise.

[2019-10-16 08:13] #147 closed

[2019-10-16 08:13] #163 closed

[2019-10-16 12:30] S3B4S commented on #177
True, on my screen somewhere around 6 lines is what I'd say should be the max, so, taking the example of [awwwards](https://webgems.io/design?card=awwwards) we get

Which is 20 words, 124 characters.

18 words, 112 characters.

13 words, 93 characters.

So, having done my very reputable and reliable piece of research, I'd say we restrict it around 130 characters?

[2019-10-16 12:33] S3B4S commented on #177
But I wouldn't be surprised that on bigger screen we can easily have more characters. Maybe we should consider omitting some words and replacing it with `...` when a box gets too long vertically?

[2019-10-17 17:04] CohheeTime opened #185 "Add to Favorites"
It would be nice to have a simple way of marking the gems I'd like to visit again later.

Browser bookmarks are a thing, but if you're like me, a lot of times when you bookmark something, you actually just end up forget about it.

[2019-10-18 10:17] Johan-Ng commented on #155
@S3B4S @karnthis @lostdesign Thank you very much for giving me guidance and support throughout the task. I will treasure this experience and continue to work hard. I wish you all the best for your careers and thank you once again for spending your time helping me!

[2019-10-18 10:40] lostdesign commented on #185
So basically giving a "heart" for a resource and displaying them before others? Is that what you want to see with this feature?

Or should we add a "Your favorites" section then?

While we are at it, should a "read" option be given?

[2019-10-18 15:21] S3B4S commented on #185
Think it's too much to add this, and doesn't make sense given some resources.

Let's start this feature with just marking imo.

[2019-10-19 08:04] #100 closed

[2019-10-19 10:17] lostdesign opened #188 "Implement nuxt-matomo connector"
**Is your feature request related to a problem? Please describe.**
To properly track visits, we should use the following package:
https://github.com/pimlie/nuxt-matomo

**Describe the solution you'd like**
- track open/copy clicks
  - e.g. hook into these functions to set a custom variable
- track collection visits

**Additional info**
Matomo is quite data privacy friendly and cannot identify indi

[2019-10-20 07:05] lostdesign opened #191 "Mobile table UI is broken"
**Describe the bug**
The UI is overflowing and the description is getting too squashed.

**To Reproduce**
Open webgems on your phone. Tested on iPhone XS

**Expected behavior**
Maybe just use the cards then anyways.

[2019-10-20 20:12] rtkimz commented on #96
@lostdesign Is this still an issue? If so, I would like to work on it.

[2019-10-20 20:16] S3B4S commented on #96
This has already been added I see, this should have been closed.

[2019-10-20 20:16] #96 closed

[2019-10-20 20:19] #108 closed

[2019-10-20 20:19] #97 closed

[2019-10-20 20:19] S3B4S commented on #97
Has been added.

[2019-10-20 20:20] S3B4S commented on #101
Has been added.

[2019-10-20 20:20] #101 closed

[2019-10-20 20:20] S3B4S commented on #104
Has been added.

[2019-10-20 20:20] #104 closed

[2019-10-20 20:21] S3B4S commented on #105
Has been added.

[2019-10-20 20:21] #105 closed

[2019-10-21 15:43] S3B4S opened #195 "Add tags"
There are several resources that don't have tags, adding them would be valuable 😄.

DOs:
- Try to have in between 3-5 tags for a resource.
- Short names that people are likely to search on.

DONTs:
- Long tags, like `learning resource`, could be `educational`.
- Using the category as a tag, that's redundant.

[2019-10-21 17:24] rtkimz commented on #195
@S3B4S I would like to work on this.

[2019-10-22 02:37] barbados-clemens opened #196 "[Podcast] https://www.dotnetrocks.com/"
**Name**
.NET Rocks!

**Description**
_.NET Rocks! is a weekly talk show for anyone interested in programming on the Microsoft .NET platform. The shows range from introductory information to hardcore geekiness. Hosted by Carl Franklin and Richard Campbell_

**URL**
https://www.dotnetrocks.com/

**Category**
podcast

I really enjoy this podcast as it’s informational, interesting, fun and great for

[2019-10-22 06:39] tmdgus0084 commented on #43
[code]
This code will help, too.

[2019-10-24 11:28] #195 closed

[2019-10-25 00:23] jacobgasser opened #200 "Add Codesignal.com to /general"
**Name**
CodeSignal.com

**Description**
(first of all sentences is spelled wrong in the issue template, "1-2 sentenses")
CodeSignal (formerly CodeFights) is an online programming tournament where you compete against real people in real time to try to finish the coding challenges first. You can play with random people, your friends, or they even have a single player arcade mode.

**URL**
https://c

[2019-10-25 10:23] lostdesign commented on #177
Imho best solution yeah!

[2019-10-25 10:25] lostdesign commented on #43
@SarathSantoshDamaraju @Shiroraven any updates on this?

[2019-10-25 11:01] lostdesign opened #203 "Add contributors to readme"
@all-contributors please add @banou26 for bug and design

@all-contributors please add @S3B4S for bug, code, content, ideas, maintenance, review and tests

@all-contributors please add @karnthis for code, bug and design

@all-contributors please add @rtkimz for content

@all-contributors please add @jgierer12 for content, design and code

@all-contributors please add @hayhaydz for design and code

[2019-10-25 11:03] lostdesign commented on #203
@all-contributors please add @Banou26 for bug and design

[2019-10-25 11:04] lostdesign commented on #203
Sorry for the double mention, seems like the bot can only handle one user per comment.

[2019-10-25 11:04] lostdesign commented on #203
@all-contributors please add @S3B4S for bug, code, content, ideas, maintenance, review and tests

[2019-10-25 11:06] lostdesign commented on #203
@all-contributors please add @lostdesign for business, infra, security, bug, code, content, ideas, maintenance, review and tests

[2019-10-25 11:11] lostdesign commented on #203
@all-contributors please add @karnthis for code, bug and design

[2019-10-25 11:13] lostdesign commented on #203
@all-contributors please add @karnthis for code, bug and design

[2019-10-25 11:14] lostdesign commented on #203
@all-contributors please add @jgierer12 for content, design and code

[2019-10-25 11:22] lostdesign commented on #203
@all-contributors please add @jgierer12 for content, design and code

[2019-10-25 11:29] #203 closed

[2019-10-25 11:33] lostdesign commented on #200
So, it costs $500/month per user to use it? Is that correct?

[2019-10-25 11:57] S3B4S commented on #155
So this has been added, thanks @Johan-Ng!

[2019-10-25 11:58] S3B4S commented on #52
Wroking on this in #194

[2019-10-25 13:27] TheDevMinerTV commented on #51
I can probably do something like when @karnthis said.
I'll work myself into the current source code and figure it out ;)

[2019-10-25 13:28] lostdesign commented on #51
@TheDevMinerTV Thanks for your interest, but I guess we won't do it through issues yet. Plans are to get a solid backend.

[2019-10-30 12:14] lostdesign commented on #188
I recently used https://github.com/AmazingDreams/vue-matomo in a vue project, with also has nuxt support. Don't know which one to choose for this project though.

[2019-10-30 12:16] lostdesign commented on #155
So basically, there is a PR here referenced that would have been merged but had to be reverted due to technical issues. If anyone want to pick this topic up again, all you need to do is copy the code from said PR.

[2019-11-03 13:57] lostdesign opened #209 "UI overhaul"
The project has grown now quite a lot and the current UI doesn't meet the expectations anymore.
Feel free to take up on any of these topics, please open a new issue and reference them here.

- Mobile:
  - Navigation is unusable, should be replaced by a burger menu or something like that. Maybe a offcanvas navigation that takes the whole screen would fit here.
  - The table UI should be removed as

[2019-11-13 13:19] S3B4S commented on #46
Has been implemented

[2019-11-13 13:19] #46 closed

[2019-11-13 13:20] S3B4S commented on #52
Has been implemented #194

[2019-11-13 13:20] #52 closed

[2020-06-11 20:55] ruffCode opened #219 "Broken link CSS / 30 Seconds of CSS"
**Describe the bug**
The link to this resource is outdated

Current link https://webgems.io/css?card=30secondsofcode should be updated to
https://www.30secondsofcode.org/css/p/1

Thanks!

[2020-06-15 09:13] lostdesign commented on #219
Thanks for submitting that bug. Are you looking into sending a PR or should I change it? @ruffCode

[2020-06-15 09:13] lostdesign commented on #219
New link `https://www.30secondsofcode.org/css`

[2020-06-15 21:26] ruffCode commented on #219
Just submitted the PR @lostdesign

Thanks.

[2020-06-16 08:07] #219 closed

[2020-07-25 20:36] ajs256 commented on #200
I've opened a PR to add this resource, #234

[2020-07-25 20:41] #200 closed

[2020-07-26 22:15] 00ff0000red opened #235 "Missing WebAssembly Resources"
Webgems has resources for multiple languages, yet lacks any mention of Wasm, although it might not be considered a "beginner" thing to learn about, but more of an advanced topic. Also, there might not be any generalized Wasm resources, as it's usually tied to the language that a program was written in, ex: Rust / C++.

Regardless, any resources might end up being helpful to somewhat experienced de

[2020-07-29 12:19] lostdesign commented on #235
Totes fine with adding such section, if resources are either linked here or as PR.

[2020-07-30 08:22] 00ff0000red commented on #235
I'm sorry, even I can't think of any non-language specific resources or tools, but maybe someone else would have some ideas?

[2020-07-30 08:23] lostdesign commented on #235
I think it's ok to add WASM as a group and then have the languages mixed, its not like you jump into WASM before knowing any language ^^

[2020-08-03 06:38] #235 closed

[2020-08-26 20:45] Aaditya-Sahay opened #238 "Adding a new rust-lang category"
**Describe the solution you'd like**
As discussed in discord, I am interested in creating a new category for rust language and adding a few resources, such as
arewewebyet, rocket, actix as well as stuff around WebAssembly, such as wasm-pack etc.

**Additional context**
Rust as a language, and the community around it is growing really fast, along with that, Rust has become one of the obvious choice

[2020-08-27 06:53] #238 closed

[2020-08-27 06:55] lostdesign commented on #209
@the94air has taken on that issue now, taking lead. Any questions should be asked here directed to him or me.

[2020-09-10 09:44] programmerskp opened #243 "Add some resources in category css, html, javascript, php, python."
I want to add some resources to the category:

- CSS
- HTML
- PHP
- JavaScript
- Python
## Resources URL:
#### CSS
https://www.w3schools.com/css/
#### HTML
https://www.w3schools.com/html/
#### PHP
https://www.w3schools.com/php/
#### JavaScript
https://www.w3schools.com/js/
#### Python
https://www.w3schools.com/python/

I think this could be helpful for the beginners to learn from these resources.

[2020-09-10 14:39] OmarUsman commented on #243
W3 Schools is not a good source for info, Their info is usually outdated and there are many other sources which are more credible.

[2020-09-10 14:57] lostdesign commented on #243
The point of webgems was to curate the best resources out there for people to have an easy start in web and find things they might not know yet. This is for beginners and intermediate people - therefore w3schools isn't a good match at all. The last time I've been going through w3schools, it had outdated things and overall is no really appealing. Thanks for the suggestion though anyways.

[2020-09-10 14:57] #243 closed

[2020-09-11 01:58] programmerskp commented on #243
Thanks for replying.

[2020-10-13 01:15] Mrjen opened #254 "Recommend a useful css layout tool"
**Name**
grid layout tool

**Description**
Visual operation is flexible, convenient and practical

**URL**
https://grid.layoutit.com/

**Category**
css layout

[2020-10-14 12:32] lostdesign commented on #254
@Mrjen you could add that if you wanna. Not sure if you do Hacktoberfest or not, but I'd label it :)

[2020-10-16 23:56] OmarUsman commented on #124
https://marketplace.visualstudio.com/items?itemName=HookyQR.beautify imo this works better than prettier just take a look

[2020-10-29 17:36] KenavR commented on #155
If it is still available, I would take it.

[2020-10-30 07:28] #155 closed

[2020-12-07 21:12] defusevenue opened #256 "[Design] Manypixels.co"
**Name**
manypixels.co

**Description**
Provides royalty free illustrations you can use for your website or app. Includes multiple drawing styles and color customization options!

**URL**
https://www.manypixels.co/gallery/

**Category**
Design

P.S: In the template for this issue you misspelled "sentences" under description.

[2020-12-21 14:46] lostdesign commented on #256
Yeee good stuff, make PR thank
![image](https://user-images.githubusercontent.com/5164617/102788944-b4623f80-43a3-11eb-859c-b471187b2137.png)

[2021-01-29 06:44] abeahim opened #259 "OS: [e.g. iOS]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-01-29 09:02] #259 closed

[2021-01-29 09:14] abeahim commented on #191
#

[2021-02-06 15:43] mallikarjun2000 commented on #43
Hello, can I work on this issue?

[2021-03-03 01:11] tianheg opened #264 "update url"
The web accessibility basics: https://www.marcozehe.de/articles/2015-12-14-the-web-accessibility-basics/

[2021-03-17 08:18] lostdesign commented on #264
Hi @tianheg can you PR it?

[2021-03-17 08:26] tianheg commented on #264
here #268

[2021-03-17 14:20] lostdesign commented on #264
Thanks, merged

[2021-03-17 14:20] #264 closed

[2021-04-13 22:00] CrazyPython opened #272 "[General] Add resource: Periodic Table of Web APIs/Technologies"
**Name**
Periodic Table of Web APIs

**Description**
A directory of all web APIs, color-coded by browser support. See everything a modern web browser is capable of.

**URL**
https://wwwperiodictable.surge.sh

**Category**
General

[2021-05-31 09:39] lostdesign commented on #272
Do you want to add that? @CrazyPython Looks quite nice

[2021-06-01 23:20] CrazyPython commented on #272
#278, please merge.

[2021-06-01 23:24] CrazyPython opened #279 "Some suggested resources"
- Design: Dribbble
- Python: Django, Flask, FastAPI (three most popular Python web frameworks)
- Icons: Ionicons

[2021-06-04 09:25] lostdesign commented on #279
Would you like to PR that?

[2021-08-16 12:51] nguyenphungsang commented on #43
Thanks

[2021-08-21 06:44] ainzzorl opened #285 "New resource: Code Catalog"
**Name**
Code Catalog

**Description**
A Collection of instructive code examples from prominent open source projects.

**URL**
https://codecatalog.org

**Category**
General

[2021-09-06 12:41] lostdesign commented on #285
Thanks for the PR and Issue - I have reviewed the site and came to the conclusion that it does not fit webgems, as it does not relate that much to webdev.

Once more webdev related content exists as well as it being easier to explore, it may be added.

[2021-09-06 12:41] #285 closed

[2021-09-12 20:51] GalaxyLittlepaws opened #287 "Add fleek.co to Server Category"
**Name**
fleek.co

**Description**
"Fleek makes it easy to build websites and apps on the new open web: permissionless, trustless, censorship resistant, and free of centralized gatekeepers."

**URL**
https://fleek.co/

**Category**
Server

[2022-09-03 20:42] dylankenneally opened #300 "webgems.io domain is for sale?"
**Describe the bug**
Clicked the link to [webgems.io](https://webgems.io) found in the about section of the repo here on GitHub, the link redirects to http://ww1.webgems.io/ which just lists ads.

I was expecting to see the webgems.io site.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to https://webgems.io
2. Note error

**Expected behaviour**
See web gems

**Screenshots**
n/a

**Desk

[2022-09-04 16:33] lostdesign commented on #300
I did not renew the domain due to lack of time for the project, cost and low traffic. I will remove the domain from the description.